@import "../assets/styles/variables";
@import "../assets/styles/mixins";
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  margin-bottom: 32px;
}

.button {
  @include button-hover($btn-color, $btn-hover-color);
}

.answer {
  display: flex;
  gap: 12px;
}

.pagenation {
  margin-top: 32px;
}
